/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Clase fixed-width container que se "autocentrará" a sí misma */
.container {
    width: 1200px;
    margin: 0 auto;
}

.btn{
    background-color:white;
    padding: 3px 30px;
    border-radius: 10px;
    border-color: aqua;
    border:none;
    border: 2px solid skyblue;
    color: rgb(118, 125, 128);
    margin: 20px;
}
.btn:hover{
    border: none;
    background-color: skyblue;
}